.footer{
    /* border: 2px solid black; */
    border-radius: 10px 10px 10px 10px;
    background-color: #A1D6E2;
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

.logof{
    height: auto;
    max-width: 75%;
    justify-content: center;
}

.sapience{
    align-items: center;
    li{
        list-style: none;
    }
}

.about{
    align-items: center;
    li{
        list-style: none;
    }
}

.legal{
    align-items: center;
    justify-content: center;
    li{
        list-style: none;
    }
}

.navlink{
    text-decoration: none;
    color: black;
}

.navlink:hover{
    color: #1995AD;
}

.follow{
    justify-content: center;
    align-items: center;
}

.icon{
    margin: 15px;
    align-items: center;
    font-size: 60px;
}