.header{
    padding: 0 4.8rem;
    height: 10 rem !important;
    background-color: #F1F1F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: auto;
    max-width: 30%;
}